:root {
  --orange: #ffa02b;
  --dark-blue: #3797a4;
  --yellow: #fcf876;
  --green: #cee397;
  --gray: #dedede;
  --light-blue: #8bcdcd;
  --light-red: #ff4545;
  --light-gray: #f2f2f2;
  --dark-green: #0a9c00;
}