{% load static %}
<header>
    <nav class="sidebar">
        <p>Bubu Pharmacy</p>
        <a class="item-nav {{dashboardActive}}" href="{% url 'index' %}">Dashboard</a>
        <a class="item-nav {{obatActive}}" href="{% url 'obat:index' %}">Obat</a>
        <a class="item-nav {{persediaanActive}}" href="{% url 'persediaan:index' %}">Persedian Obat</a>

        {% if not admin %}
            <div class="container-bottom-nav">
                <a class="item-nav {{creditsActive}}" href="{% url 'credits' %}">Credits</a>
                <a class="item-nav {{loginActive}}" id="login" href="{% url 'login' %}">Log In</a>
            </div>
        {% else %}
            <a class="item-nav {{transaksiActive}}" href="{% url 'transaksi:index' %}">Transaksi</a>
            <a class="item-nav {{logTransaksiActive}}" href="{% url 'transaksi:log' %}">Log Transaksi</a>
            
            <div class="container-bottom-nav">
                <a class="item-nav {{creditsActive}}" href="{% url 'credits' %}">Credits</a>
                <a class="item-nav {{logoutActive}}" id="logout" href="{% url 'logout' %}">Log Out</a>
            </div>
        {% endif %}
    </nav>
</header>