{% extends 'base.html' %}

{% block contents %}
    <h3>Kelompok 3</h3>

    <table border="1" cellpadding="10" rules="all">
        <thead>
            <th>Nama</th>
            <th>NIM</th>
        </thead>

        <tbody>
            <tr>
                <td>Harvey Guharelvino Prabowo</td>
                <td><center>1910511007</center></td>
            </tr>
            <tr>
                <td>Marshall Anugrah Najmi</td>
                <td><center>1910511034</center></td>
            </tr>
            <tr>
                <td>Jovanka Samudra</td>
                <td><center>1910511040</center></td>
            </tr>
            <tr>
                <td>Sultah Farel Syah Reza</td>
                <td><center>1910511105</center></td>
            </tr>
        </tbody>
    </table>
    
    <center>
        <p class="primary"><strong>&copy; Copyright 2020 - Kelompok 3</strong></p>
    </center>
{% endblock contents %}